<h3>Your search for Bus {{ ServiceNo }}  at stop {{BusStopCode}} </h3>

    
        <div>
            <table class="table table-striped table-dark">
               

                <tbody>

                    {{#each busArray}}
                   

                    <tr>
                        <td>Next Bus</td>
                        <td>{{this.next1}}</td>
                    </tr>

                     <tr>
                        <td> 2nd Bus</td>
                        <td>{{this.next2}}</td>
                    </tr>

                     <tr>
                        <td>3rd Bus</td>
                        <td>{{this.next3}}</td>
                    </tr>



                {{/each}}

                </tbody>

            </table>            
        </div>
        <hr>
    


